/* .body{
  margin-right: auto;
  margin-left: auto;
} */

.wrapper {
  display: flex;
  background-color: #26160d;
}

.header-wrapper {
  width: 50vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.header-left {
}

.top-image {
  font-size: 30px;
  color: #593f28;
  text-decoration: none;
}

.header-right {
}

.user-top {
  height: 40px;
  margin: 5px 5px 0px 0px;
  text-align: right;
}

.display-name {
  font-size: 20px;
  padding: 5px;
  width: 100%;
  text-align: right;
  color: rgb(235, 209, 209);
}

.user-bottom {
  height: 40px;
  margin: 10px 5px 0px 0px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.login-out {
  margin-left: 10px;
  color: #7a6e67;
  text-decoration: none;
}
