<%= render "shared/header" %>
<div class = "main-wrapper">
  <div class = "profile-box">
    <%= render partial: "shared/postcard", locals: { post: @post} %>
<% if current_user.id == @post.user_id %>
  <%# <%= link_to '編集', edit_post_path, class:"#" %>
  <%= link_to '削除', post_path(@post.id), method: :delete, class:'item-destroy' %>
<% end %>
  </div>
</div>
