.body{
  background-color: #734C36;
}

.main-wrapper{
  width: 50vw;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.index-top{
  height: 50px;
  background-color: #734C36;
  display: flex;
  justify-content: space-between;
}

.make-post{
  margin: 5px 0 5px 10px;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: rgba(133, 13, 13, 0.788);
  border: none;
  color: rgb(46, 9, 9);
  text-decoration: none;
  box-shadow: 0px 0px 0px 5px rgba(133, 13, 13, 0.788);
  border: dashed 1px #FFF;
}

.search-form{
  height: 100%;
  margin: 5px 10px 5px 0px;
}

.search-input{
  height: 80%;
}

.search-btn{
  height: 80%;
}

.index-bottom{
  height: 100%;
  width: 100%;

  border-radius: 5px 30px 0 0;
  margin: 0 auto;
  margin-top: 5px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.tab_item {
  width: calc(100%/5);
  height: 50px;
  border-bottom: 3px solid#402718;
  border-radius: 5px 30px 0 0;
  background-color: #8C796D;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #ececec;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.post-box {
  height: 100%;
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  background-color: #402718;
}

#all:checked ~ #all-posts,
#lifestyle:checked ~ #lifestyle-posts,
#work:checked ~ #work-posts,
#human:checked ~ #human-posts,
#other:checked ~ #other-posts{
  height: 100%;
  display: block;
}

/*選択されているタブのスタイルを変える*/
.index-bottom input:checked + .tab_item {
  background-color: #402718;
  color: #fff;
}